.nameinput-main {
    height: 100vh;
    font-family: "Jersey 15";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name-greeting {
    margin: 30px;
    font-size: 6vw;
}
.name-button {
    cursor: pointer;
}
.name-input, .name-button{
    font-family: "Jersey 15";
    padding: 10px;
    font-size: 20px;
}
